body {
  align-items: center;
}


/* header */

.hero {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/jifgjoerghnfh_TP_V.jpg);
}

.overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.4);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  padding: 0 50px;
  text-align: center;
  color: #fff;
}

/* main */

.container {
  width:320px ;
  height: 240px;
  padding: auto;
  margin: auto;
  text-align: center;
}

.container h1 {
  text-align: center;
}

.sen {
  border-width: 3px;
  border-style: dashed double;
}

.hoge {
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: center;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  border-radius: 50vh;
  text-decoration: none;
}

.button:after {
 content: '';
 width: 5px;
 height: 5px;
 border-top: 3px solid #333333;
 border-right: 3px solid #333333;
 transform: rotate(45deg);
 text-decoration: none;
}

.button a:hover {
  text-decoration: none;
  background-color: #bbbbbb;
  text-decoration: none;
}

.move {
  animation: move 2s infinite;
}

@keyframes move {
  0% {
    transform: translate(2px, 0px);
  }
  5% {
    transform: translate(-2px, 0px);
  }
  10% {
    transform: translate(-2px, 0px);
  }
  15% {
    transform: translate(-2px, 0px);
  }
  20% {
    transform: translate(2px, 0px);
  }
  25% {
    transform: translate(-2px, 0px);
  }
  30% {
    transform: translate(0px, 0px);
  }
}


/* footer */

footer {
  width: auto;
  padding: auto;
  text-align: center;
}

/* animation */

/* animation */

.animate {
  opacity: 0;
  transition: opacity .3s, transform .3s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}